@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: inherit;
  color: inherit;
}

.app {
  min-height: 98.5vh;
  margin: 5px;
  padding: 5px;
}

.mainImg {
  padding: 10px 0 5px 0;
}